<header class="py-4 bg-primary-950">
    <div class="container flex items-center justify-between ">
        <a href="/">
            <div class="flex items-center justify-center gap-2">
                <div class="w-12 h-12">
                    <img class="object-contain w-12 h-12" src="{{asset 'logo.webp'}}" />
                </div>
                <span class="text-3xl text-primary-100 font-logo">The Devil's in the Det<span
                        class="text-secondary-400">ai</span>ls</span>
            </div>
        </a>
        <div class="flex items-center gap-4 text-white">
            {{navigation}}
            <button class="gh-search" data-ghost-search>{{> icons/search}}</button>
        </div>
    </div>
</header>